.expense-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 110px;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 0px 8px 0px 8px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.expense-el {
  font-size: 30px;
  font-family: Arial;
}

.exp-title {
  font-weight: bolder;
  font-family: Arial;
}

.exp-amount {
  padding: 5px;
  font-weight: bolder;
  color: #63b2f7;
}

.exp-container {
  display: flex;
  align-items: center;
  gap: 15px;
}
