.form-container {
  display: flex;
  background-color: #7dbef8;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 760px;
  max-height: 200px;
  height: auto;
  justify-content: space-around;
  align-items: center;
}

.btn {
  height: 45px;
  width: 130px;
  border: none;
  color: white;
  font-size: 15px;
  border-radius: 10px;
  background-color: #0026fd;
  cursor: pointer;
  margin: 30px 0;
}

.btn:hover {
  background-color: #526af5;
}
